body {
  background-color: white;
  color: black;
}

.header1 {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.logo img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 1px solid black;
}
.logo {
  display: flex;
}
.logo p {
  margin-left: 10px;
  font-weight: 700;
}
span {
  position: relative;
  margin-top: 40px;
  font-size: 15px;
  color: gray;
  font-weight: 100px;
  right: 120px;
}
.line {
  position: relative;
  left: 50%;
  font-size: 20px;
  font-weight: 200;
}
a {
  text-decoration: none;
  color: black;
  position: relative;
  left: 48%;
  font-size: 20px;
  font-weight: 200;
}

.logo1 img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid black;
}
.logo1 {
  display: flex;
  margin-left: 5%;
  margin-top: 10px;
}
.logo1 p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
.days {
  position: relative;
  margin-top: 40px;
  font-size: 15px;
  color: gray;
  font-weight: 100px;
  right: 95px;
}
.container-box {
  border: 1px solid black;
  height: 580px;
}
.caption p {
  margin-left: 10px;
}
.post img {
  height: 341px;
  width: 425px;
  border: 1px solid black;
  margin-left: 3px;
}
.reacts {
  text-align: center;
}
.reacts button {
  margin: 15px;
  padding: 5px;
  width: 110px;
  border-radius: 20px;
  font-weight: 700;
  stroke-opacity: 100px;
  color: white;
  font-size: 15px;
  position: relative;
  top: -30px;
}
.comments img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid black;
}
.comments {
  display: flex;
  padding: 5px;
}
.comments p {
  margin-left: 5px;
}

.header1 h2 {
  font-size: 30px;
}
.header1 button {
  padding: 5px;
  font-size: 17px;
  max-width: 250px;
  font-weight: 700;
}
.name {
  padding: 15px;
  font-weight: 700;
  font-size: 20px;
}
.heart p {
  margin-left: 7px;
}
input {
  border: none;
  font-size: 15px;
}

input:focus {
    outline: none;
    font-size: 15px;
}
